<!DOCTYPE html>
<html>

<head>
    <title>Ejemplo de diseño responsivo con CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>
    <header>
        <div class="contenedor-header">
            <h1>Argentina Worth It</h1>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="contenedor">
        <div class="titulo">
            <h2>Datos de Argentina</h2>
        </div>
        <div class="datos">
            <div class="dato">
                <h3>Dólar Oficial</h3>
                <p>{{data['official_dollar']}}</p> 
            </div>
            <div class="dato">
                <h3>Dólar Blue</h3>
                <p>{{data['blue_dollar']}}</p>
            </div>
            <div class="subdato descripcion">
                <h3>Brecha: {{data['difference_dollar']}}</h3>
                <p>El valor de cada dólar es el promedio compra-venta</p>
            </div>
            <div class="dato subdato">
                <h3>Inflación</h3>
                <div class="subdato">
                    <p>Inflación Anual</p>
                    <p>{{data['annual_inflation']}}%</p>
                </div>
                <div class="subdato">
                    <p>Inflación Mensual</p>
                    <p>{{data['current_inflation']}}%</p>
                </div>
                <div class="subdato">
                    <p>Inflación Acumulada</p>
                    <p>{{data['accumulated_inflation']}}%</p>
                </div>
            </div>
            <div class="dato subdato">
                <h3>Tasa de interés</h3>
                <div class="subdato">
                    <p>Promedio tasa de interés</p>
                    <p>{{data['average_interest_rate']}}%</p>
                </div>
                <div class="subdato">
                    <p>Tasa de interés más baja</p>
                    <p>{{data['min_interest_rate']}}%</p>
                </div>
                <div class="subdato">
                    <p>Tasa de interés más alta</p>
                    <p>{{data['max_interest_rate']}}%</p>
                </div>
            </div>
            <div class="dato subdato">
                
                <h3>Variantes de la bolsa de valores S&P Merval</h3>
                <div class="subdato">
                    <p>Promedio de variación</p>
                    <p>{{data['average_stockmarket_variation']}}%</p>
                </div>
                <div class="subdato">
                    <p>Más alto</p>
                    <p>{{data['max_stockmarket_rise'][0]}}</p>
                    <p>{{data['max_stockmarket_rise'][1]}}%</p>
                </div>
                <div class="subdato">
                    <p>Más bajo</p>
                    <p>{{data['min_stockmarket_rise'][0]}}</p>
                    <p>{{data['min_stockmarket_rise'][1]}}%</p>
                </div>
            </div>

            <div class="dato subdato">
                <h3>Clima</h3>
                <p>Templado en la mayor parte del país, subtropical en el norte y subpolar en la Patagonia</p>
                <div class="subdato">
                    <p>Temperatura media</p>
                    <p>18°C</p>
                </div>
            </div>
        </div>
    </div>
    <div class="boton-generar">
        <a href="#">Generar reporte</a>
    </div>
</body>

</html>